{% macro link(name, material, mesh_folder) %}
<link name="{{ name }}">
    <inertial>
        <origin rpy="0 0 0" xyz="-0.1 0 0.07"/>
        <mass value="0.0"/>
        <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.06" iyz="0" izz="0.03"/>
    </inertial>
    <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
        <mesh filename="{{ mesh_folder }}/link_0.obj"/>
        </geometry>
        <material name="{{ material }}"/>
    </visual>
    <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
        <mesh filename="{{ mesh_folder }}/link_0.stl"/>
        </geometry>
    </collision>
</link>
{% endmacro %}