{% macro link(name, material, mesh_folder) %}
<link name="{{ name }}">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0.025"/>
        <mass value="0.35"/>
        <inertia ixx="0.00018631666666666665" ixy="0" iyy="0.00018631666666666665" ixz="0" izz="0.00022679999999999996" iyz="0.00018631666666666665"/>
    </inertial>
        <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
            <mesh filename="{{ mesh_folder }}/onrobot_hex_sensor.stl"/>
        </geometry>
        <material name="{{ material }}"/>
    </visual>
    <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
            <mesh filename="{{ mesh_folder }}/onrobot_hex_sensor.stl"/>
        </geometry>
    </collision>
</link>
{% endmacro %}